.error-page {
  height: 100vh;
}

.error-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.error-page__image {
  width: 280px;
}

.error-page__text {
  margin: 0;
  text-align: center;
}