:root {
  --background-color: #ffffff;
  --primary-color: #fe724c;
  --primary-hover-color: #d9603e;
  --text-color: #000000;
  --secondary-text-color: #9EA1B1;
}

.root {
  font-family: "Open Sans", sans-serif;
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--background-color);
  box-sizing: border-box;
}